@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
body {
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/background.png);
	background-size: cover;
	background-position: top center;
	position: relative;
	z-index: 1;
	padding: 0 10px;
}
#output {
	border-radius: 50%;
	margin-left: 20px;
	width: 150px;
	height: 150px;
	object-fit: cover;
}
#up {
	position: relative;
    color: #161616;
    PADDING: 10px 52px;
    background-color: white;
    border: none;
}
#up:hover {
	color: white;
	background-color: rgb(20, 19, 19);
}
.wrapper {
	max-width: 500px;
	width: 100%;
	background: rgba(245, 240, 240, 0.5);
    background-color: blur;
	margin: 20px auto;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
	padding: 30px;
}

.wrapper .title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 25px;
	color: #020202;
	text-transform: uppercase;
	text-align: center;
}

.wrapper .form {
	width: 100%;
}

.imgview {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.imgview input#imgfile {
	position: absolute;
	top: 64px;
	left: 57%;
	opacity: 0;
}
.wrapper .form .inputfield {
	margin-bottom: 20px;
	display: flexbox;
	align-items: center;
}

.wrapper .form .inputfield label {
	width: 200px;
	color: #050505;
	margin-right: 10px;
	font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
	width: 100%;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 15px;
	padding: 8px 10px;
	border-radius: 3px;
	transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
	width: 100%;
	height: 125px;
	resize: none;
}

.wrapper .form .inputfield .custom_select {
	position: relative;
	width: 100%;
	height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
	content: '';
	position: absolute;
	top: 12px;
	right: 10px;
	border: 8px solid;
	border-color: #d5dbd9 transparent transparent transparent;
	pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	width: 100%;
	height: 100%;
	border: 0px;
	padding: 8px 10px;
	font-size: 15px;
	border: 1px solid #d5dbd9;
	border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
	border: 1px solid #0f0f0f;
}

.wrapper .form .inputfield p {
	font-size: 14px;
	color: #757575;
}
.wrapper .form .inputfield .check {
	width: 15px;
	height: 15px;
	position: relative;
	display: block;
	cursor: pointer;
}
.wrapper .form .inputfield .check input[type='checkbox'] {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.wrapper .form .inputfield .check .checkmark {
	width: 15px;
	height: 15px;
	border: 1px solid #0c0b09;
	display: block;
	position: relative;
}
.wrapper .form .inputfield .check .checkmark:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 2px;
	width: 5px;
	height: 2px;
	border: 2px solid;
	border-color: transparent transparent #fff #fff;
	transform: rotate(-45deg);
	display: none;
}
.wrapper .form .inputfield .check input[type='checkbox']:checked ~ .checkmark {
	background: #0f0f0f;
}

.wrapper
	.form
	.inputfield
	.check
	input[type='checkbox']:checked
	~ .checkmark:before {
	display: block;
}

.wrapper .form .inputfield .btn {
	
    width: 100%; 
     padding: 8px 10;
    font-size: 20px;
    color: rgb(44, 44, 44);
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }


.wrapper .form .inputfield .btn:hover {
	background: #030303;
}

.wrapper .form .inputfield:last-child {
	margin-bottom: 0;
}

@media (max-width: 420px) {
	.wrapper .form .inputfield {
		flex-direction: column;
		align-items: flex-start;
	}
	.wrapper .form .inputfield label {
		margin-bottom: 5px;
	}
	.wrapper .form .inputfield.terms {
		flex-direction: row;
	}
}
