*{
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
    font-family: 'poppins', sans-serif;

}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/background.png);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
.name{
    border-radius: 50%;
    margin-left: 20px;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;

}
 .logo{
    width: 90px;
    cursor: pointer;
    border-radius: 50%;;
    
}
.cart{
    width: 90px;
    cursor: pointer;

} 
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

nav ul li {
    display:inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}
nav ul li a::after{
    content: '';
    width:0%;
    height:3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    transition: width 0.3s;

}

nav ul li a:hover::after{
    width: 50%
}

.text-box{
    color:#fff;
    position: absolute;
    bottom: 8%;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 150px;
    font-weight: 160;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box p{
    font-size: 40px;
    font-weight: 500px;
}
.social-icons{
    position: absolute;
    right: 5%;
    bottom: 8%;
   

}
.social-icons img{
    width: 40%;
    display: block;
    margin: 25px 5px;
}